@import "tailwindcss";
@import "tw-animate-css";


.slick-prev,
.slick-next {
  z-index: 20;
}

.slick-prev:before,
.slick-next:before {
  color: #0071B3; 
  font-size: 30px;
}

@media (max-width: 767px) {
  .slick-slide {
    width: 100% !important;
  }

  .slick-track {
    display: flex !important;
  }
}
